* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .canvasWrapper
{
    width: 100vw;
    height: 100vh;
}

#canvasId {
    border: 1px solid red;
    display: block;
}

.canvasWrapper {
    position: relative;
    z-index: 1;
    /*background: repeat center / 80px url('./images/grids/cursor-move-active.svg');*/
}

.scale {
    display: flex;
    border-radius: 5px;
    background: lightgray;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.scale__subtitle {
    margin-right: 10px;
}

.scale__value,
.scale__subtitle,
.header__title {
    font-size: 30px;
    font-weight: bold;
}

.header {
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    padding: 5px;
    background: lightgray;
    position: fixed;
    left: 10px;
    top: 10px;
}

.settings-panel {
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
    background-color: lightgray;
    position: absolute;
    top: 80px;
    left: 10px;
}

.settings-panel__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.settings-panel__select {
    font-size: 16px;
}

.settings-panel__subtitle {
    font-size: 20px;
    margin-right: 10px;
}

.settings-panel__title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.settings-panel__cursor-move {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    background: no-repeat center/40px url("./images/icons/cursor-move.svg");
    border: 3px solid rgba(0, 0, 0, 0.6);
}


.settings-panel__cursor-move_active {
    opacity: 1;
    background-image: url("./images/icons/cursor-move-active.svg");
}